* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-weight: 800;
}

#calculator {
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

button:active {
  background-color: #ddd;
}

button.operator {
  background-color: #f99;
}

button.equal {
  background-color: #9f9;
}

.container-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.number-zero {
  width: 85%;
}


